:root {
  /* ### Primary */

  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --slate100: hsl(202, 86%, 94%);
  --slate300: hsl(203, 41%, 72%);
  --slate500: hsl(200, 26%, 54%);
  --slate700: hsl(200, 24%, 40%);
  --slate900: hsl(202, 55%, 16%);
}

body {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

main {
  min-height: 100vh;
  width: auto;
  background-color: var(--slate100);
  margin: 0;
}

.mCalculator {
  min-width: 375px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  color: var(--slate900);
}

.clear {
  cursor: pointer;
  text-decoration: underline;
  color: var(--slate700);
}

header {
  margin-bottom: 1.5rem;
}

.mortgageData {
  background-color: var(--white);
  padding: 1rem;
}

.mortgageInput {
  border: solid 1px var(--slate700);
  border-radius: 0.2rem;
  overflow: hidden;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mortgageInput span {
  background-color: var(--slate100);
  color: var(--slate500);
  font-weight: bold;
  padding: 1rem;
}

.mortgageInput input {
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mortgageResultsEmpty,
.mortgageResultsFull {
  background-color: var(--slate900);
}

.mortgageResultsEmpty {
  text-align: center;
  padding: 2rem 0;
}

.resultsTitle,
.resultsInstructions {
  color: var(--white);
}

.resultsInstructions {
  font-weight: 300;
  line-height: 1.5;
}

.mortgageResultsFull {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
